<div class="main-container">
<div class="sub-container">

        <form (ngSubmit)="generateShortUrl(shortUrlForm.value)" #shortUrlForm="ngForm">
          <div class="form-group">

            <label for="url" class="form-label">Url</label>
            <input type="url" class="form-control flat_input input-lg" (ngModel)="longUrl" name="url" id="url"  required
                   placeholder="Enter a long URL to make tiny..."  >
          </div>
          <my-date-picker name="mydate" [options]="myDatePickerOptions" [placeholder]="datePickerPlaceholder"
                          [(ngModel)]="dateModel" required></my-date-picker>
          <div class="text-center">
          <button type="submit" class="btn btn-primary btn-lg"><span>generate url</span></button>
          </div>
        </form>

</div>
</div>
